header {
    position: sticky;
    /* height: 3rem; */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    z-index: 1;
    box-shadow: 0 1px 7px 0px var(--neon-6);

    .btn {
        aspect-ratio: 1;
        font-size: 2em;
        border-radius: 100%;
        display: flex;
        padding: 0.2rem;

        span {
            padding-left: 0.2rem;
        }
    }

    
    // .btn::after {
        // inset: -0.2rem;
    // }


    .btn::after,
    .btn::before {
        aspect-ratio: 1;
        border-radius: 100%;
    }
}

#page[data-game-end="true"] header {
    animation: header-shadow 10s infinite;
}

@keyframes header-shadow {
    0%,
    100% {
        box-shadow: 0 1px 7px 0px var(--neon-6);
    }
    10%,
    90% {
        box-shadow: 0 1px 7px 0px var(--neon-5);
    }
    20%,
    80% {
        box-shadow: 0 1px 7px 0px var(--neon-4);
    }
    30%, 
    70% {
        box-shadow: 0 1px 7px 0px var(--neon-3);
    }
    40%, 
    60% {
        box-shadow: 0 1px 7px 0px var(--neon-2);
    }
    50% {
        box-shadow: 0 1px 7px 0px var(--neon-1);
    }
}

.title {
    font-size: 2em;
    color: transparent;
    background: var(--gradient-45);
    background: -webkit-var(--gradient-45);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    padding-top: 0.3rem;
}