.field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    --gap: .5rem;
    grid-gap: var(--gap);
    background: var(--gradient-45);
    max-height: min(50%, 90svw);
    aspect-ratio: 1;
    flex: 1;
    z-index: 100;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform .5s;
    // --init-rotate-angle: 0deg;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 0 0px 1px inset var(--clr-bg);
    animation: field_appearance .5s;
}

@keyframes field_appearance {
    from {opacity: 0;}
    to {opacity: 1;}
}

#page[data-game-end="true"] {

    .field:hover {
        cursor: pointer;
        // transform: rotateX(var(--init-rotate-angle));
    }

    .field.active {
        animation: field_anim .5s forwards;
    }
}

@keyframes field_anim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;

    }
}