@font-face {
    font-family: "Crewniverse";
    font-style: normal;
    font-weight: 500;
    src: url("/styles/fonts/crewniverse_font_V6_0.ttf") format("truetype")
}

* {
    box-sizing: border-box;
}

:root {
    --clr-bg: #fafcff;
    --clr-font: #010911;
    --neon-1: #f72585;
    --neon-2: #b5179e;
    --neon-3: #7209b7;
    --neon-4: #3f37c9;
    --neon-5: #4361ee;
    --neon-6: #4895ef;
    --neon-7: #4cc9f0;
    --gradient-20: linear-gradient(20deg,
            var(--neon-1),
            var(--neon-2),
            var(--neon-3),
            var(--neon-4),
            var(--neon-5),
            var(--neon-6),
            var(--neon-7));
    --gradient-45: linear-gradient(45deg,
            var(--neon-1),
            var(--neon-2),
            var(--neon-3),
            var(--neon-4),
            var(--neon-5),
            var(--neon-6),
            var(--neon-7));
    --gradient-conic: conic-gradient(from -135deg,
            var(--neon-1),
            var(--neon-2),
            var(--neon-3),
            var(--neon-4),
            var(--neon-5),
            var(--neon-6),
            var(--neon-7),
            var(--neon-6),
            var(--neon-5),
            var(--neon-4),
            var(--neon-3),
            var(--neon-2),
            var(--neon-1));
}

html {
    height: 100svh;
    width: 100svw;
    overflow: auto;
}

body {
    font-family: "Crewniverse", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--clr-font);
    background-color: var(--clr-bg);
    position: absolute;
    inset: 0;
    margin: 0;
}

button {
    font-family: inherit;
}

.btn-restart {
    background-color: var(--clr-bg);
    position: relative;
    border: none;
    padding: .5rem;
    padding-top: .8rem;
    font-size: 1.1em;
    border-radius: .5rem;
    cursor: pointer;
    background: var(--gradient-20);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-restart::after {
    content: "";
    position: absolute;
    background: var(--gradient-20);
    inset: -.2em;
    border-radius: .6rem;
    z-index: -2;
    filter: blur(.1em);
    transition: filter .2s;
}

.btn-restart:hover,
.btn-restart:focus-visible {
    outline: none;
}

.btn-restart:hover::after,
.btn-restart:focus-visible::after {
    filter: blur(.3em);
}

.btn-restart::before {
    content: "";
    position: absolute;
    border-radius: .6rem;
    background: var(--clr-bg);
    inset: -2px;
    z-index: -1;
}

header {
    position: sticky;
    /* height: 3rem; */
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 7px 0px #00000033;
    padding: 1em;
    z-index: 1;
}

.title {
    font-size: 2em;
    color: transparent;
    background: var(--gradient-45);
    background: -webkit-var(--gradient-45);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    padding-top: 0.3rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: inset 0 -1px 7px 0px #00000033;
    padding: 1rem;
    color: #00000067;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    position: absolute;
    inset: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.status {
    font-size: 2rem;
    background: var(--gradient-45);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    user-select: none;
    text-align: center;
    height: 2em;
}

.field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    --gap: .5rem;
    grid-gap: var(--gap);
    background: var(--gradient-45);
    max-height: min(50%, 90svw);
    aspect-ratio: 1;
    flex: 1;
    z-index: 100;
    position: relative;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    position: relative;
    isolation: isolate;
    background-color: var(--clr-bg);
    -webkit-tap-highlight-color: transparent;
    transition: opacity .5s ease-out;
}

.cell::after,
.cell::before {
    position: absolute;
    height: .5rem;
    background-color: red;
    border-radius: .5rem;
    display: inline-block;
}

#root[data-game-end="false"] .cell[data-value="-"]:hover {
    opacity: 0.6;
    cursor: pointer;
}

.cell::after {
    background: linear-gradient(20deg,
            var(--neon-1),
            var(--neon-2),
            var(--neon-3),
            var(--neon-4),
            var(--neon-5),
            var(--neon-6),
            var(--neon-7));
}

.cell::before {
    background: linear-gradient(90deg,
            var(--neon-1),
            var(--neon-2),
            var(--neon-3),
            var(--neon-4),
            var(--neon-5),
            var(--neon-6),
            var(--neon-7));
}

.cell[data-value="x"]::after {
    content: "";
    rotate: 45deg;
    animation: x_appearance .3s ease forwards;
}

.cell[data-value="x"]::before {
    content: "";
    rotate: -45deg;
    animation: x_appearance .3s ease forwards;
}

@keyframes x_appearance {
    from {
        width: 0;
    }

    to {
        width: 70%;
    }
}

.cell[data-value="o"]::after {
    background: var(--gradient-conic);
    content: "";
    width: 60%;
    height: 60%;
    border-radius: 50%;
    z-index: 1;
    animation: o_appearance .3s ease forwards;
}

.cell[data-value="o"]::before {
    content: "";
    width: calc(60% - 1rem);
    height: calc(60% - 1rem);
    border-radius: 50%;
    background: var(--clr-bg);
    z-index: 2;
    animation: o_appearance .3s ease forwards;
}

@keyframes o_appearance {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

.line {
    --height: 1rem;
    position: absolute;
    transform-origin: left;
    height: var(--height);
    background: var(--gradient-45);
    background-size: 200% 200%;
    border-radius: calc(var(--height) / 2);
    top: calc(var(--top) - var(--height) / 2);
    left: var(--left);
    box-shadow: 2px 2px 10px #00000069;
    animation:
        line_appearance .5s ease forwards,
        gradient_anim 5s infinite;
}

@keyframes line_appearance {
    from {
        width: 0;
    }

    to {
        width: var(--width);
    }
}

#root[data-game-end="true"] .status,
#root[data-game-end="true"] .field,
#root[data-game-end="true"] .btn-restart,
#root[data-game-end="true"] .title {
    background-size: 200% 200%;
    animation: gradient_anim 5s infinite;
}

#root[data-game-end="true"] .cell[data-value="o"]::after {
    animation: o_symbol_gradient_anim 10s linear infinite;
}

#root[data-game-end="true"] .cell[data-value="x"]::after,
#root[data-game-end="true"] .cell[data-value="x"]::before {
    animation: x_appearance .3s ease forwards,
        x_symbol_gradient_anim 4s linear infinite;
}

@keyframes gradient_anim {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes o_symbol_gradient_anim {
    0% {
        background-size: 100% 100%;
        rotate: 0;
    }

    50% {
        background-size: 150% 150%;
    }

    100% {
        background-size: 100% 100%;
        rotate: 360deg;
    }
}

@keyframes x_symbol_gradient_anim {
    0% {
        background-size: 150% 150%;
        background-position: 0% 0%;
    }

    50% {
        background-size: 200% 200%;
        background-position: 100% 100%;
    }

    100% {
        background-size: 150% 150%;
        background-position: 0% 0%;
    }
}


@media (max-width: 500px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 355px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (max-height:450px) {
    :root {
        font-size: 8px;
    }

    header {
        box-shadow: none;
        padding: 0;
    }

    header .title {
        padding: 1em;
    }

    header .btn-restart {
        margin: 1em;
        font-size: 2rem;
        border-radius: 100%;
        padding: .5rem;
        aspect-ratio: 1;
    }

    header .btn-restart::after,
    header .btn-restart::before {
        border-radius: 100%;
    }

    footer {
        display: none;
    }

    .status {
        font-size: 2.5rem;
    }

    .container {
        gap: 0rem;
    }

    .field {
        max-height: 70%;
    }
}

@media screen and (max-height:250px) {
    .container {
        flex-direction: row;
        max-height: 100%;
        gap: 2rem;
    }

    .status {
        font-size: 1rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
        height: auto;
    }

    .field {
        max-width: 80svh;
    }
}